<%- include('../partials/header', {title: 'Account Signup'}); -%>
<header><%- include('../partials/components/navbar'); -%></header>
<div class="flex justify-center items-center">
  <%- include('../partials/components/signupForm') -%>
</div>
<%-include('../partials/footer'); -%>
