<%- include('../partials/header', {title: 'Update Transaction'}) -%>

<h1>Testing edit page <%= transaction.name %></h1>
<%- include('../partials/components/transactionForm', {action:
`/transactions/${transaction._id}?_method=PUT`, method:'POST', type:'edit',
transaction}) -%> <%- include('../partials/footer') -%>
