<%- include('../partials/header', {title: 'Update Transaction'}); -%>
<div class="flex w-screen h-screen">
  <%- include('../partials/components/sidenav', {active: 'None'}); -%>
  <section class="w-full container p-4">
    <div class="flex items-center justify-between"></div>
    <%- include('../partials/components/transactionForm', {action:
    `/transactions/${transaction._id}?_method=PUT`, method:'POST', type:'edit',
    transaction}) -%>
  </section>
</div>
<%- include('../partials/footer'); -%>
