<%- include('../partials/header', {title: 'Transactions List'}); -%>

<h1 class="text-6xl"><%= username %></h1>
<a href="/transactions/new">
  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-4"
  >
    Add Transaction
  </button>
</a>
<a href="/users/logout">
  <button
    class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded m-4"
  >
    Logout
  </button>
</a>
<ul>
  <%- include('../partials/components/transactionsTable', {transactions}) -%>
</ul>
<%- include('../partials/footer'); -%>
