<%- include('../partials/header', {title: 'News Page'}); -%>

<div class="flex w-screen h-screen">
  <%- include('../partials/components/sidenav', {active: 'News'}); -%>
  <section class="w-auto h-screen p-4 mr-4">
    <div
      class="bg-white p-4 drop-shadow-xl border-2 border-gray-300 rounded-lg min-h-screen max-h-auto w-full"
    >
      <div
        class="flex justify-center items-center text-6xl mb-12 font-bold bg-gray-100 rounded-xl w-full py-6 px-4 text-center"
      >
        <h1 class="animate-bounce">News Headlines</h1>
      </div>
      <div
        class="gap-x-20 gap-y-12 flex flex-wrap items-start h-auto justify-center"
      >
        <% articles.forEach(article => { %> <%-
        include('../partials/components/newsCard', {article: article}) -%> <% })
        %>
      </div>
    </div>
  </section>
</div>
