<nav class="flex items-center justify-between flex-wrap bg-black p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <img src="/images/TheHoodLogo.png" alt="" />
  </div>
  <div class="block lg:hidden">
    <button
      class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white"
      id="hamburger"
    >
      <svg
        class="fill-current h-3 w-3"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
      </svg>
    </button>
  </div>
  <div
    class="w-full flex flex-col lg:flex-row flex-grow lg:items-center lg:w-auto"
    id="navButtons"
  >
    <div class="text-sm lg:flex-grow"></div>
    <div class="flex flex-col lg:flex-row lg:gap-x-4">
      <a
        href="/login"
        class="inline-block text-sm px-4 w-1/2 lg:w-full text-center tracking-widest py-2 leading-none border rounded text-white border-white hover:text-white hover:bg-blue-700 mt-4 lg:mt-0 <%= active === 'login' ? 'bg-blue-700 text-white font-bold' : null %>"
        >Login</a
      >
      <a
        href="/signup"
        class="inline-block text-sm px-4 w-1/2 lg:w-full text-center tracking-widest py-2 leading-none border rounded text-white border-white hover:text-white hover:bg-blue-700 mt-4 lg:mt-0 <%= active === 'signup' ? 'bg-blue-700 text-white font-bold' : null %>"
        >Signup</a
      >
    </div>
  </div>
</nav>
