<div class="rounded shadow-xl border-gray-100 border-2 flex p-4">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2"><%= name %></div>
    <div class="bg-white rounded-lg shadow-lg">
      <ul class="divide-y-8 text-gray-500">
        <li
          class="p-3 hover:bg-blue-600 hover:text-blue-200 w-96 cursor-pointer"
        >
          MARA - $82.23
        </li>
        <li
          class="p-3 hover:bg-blue-600 hover:text-blue-200 w-96 cursor-pointer"
        >
          AAPL - $120.22
        </li>
        <li
          class="p-3 hover:bg-blue-600 hover:text-blue-200 w-96 cursor-pointer"
        >
          MSFT - $244.22
        </li>
        <li
          class="p-3 hover:bg-blue-600 hover:text-blue-200 w-96 cursor-pointer"
        >
          NFLX - $46.22
        </li>
      </ul>
    </div>
  </div>
</div>
